@charset "UTF-8";

.reply-container .reply-header textarea {
	height: 40px;
}

.replay-container .reply-body .item {
	display: flex;
	align-items: center;
	border: 1px solid;
	margin: 10px 0;
	gap: 20px;
}

.replay-container .reply-body .item>* {
	border: 1px solid;
}