<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>06FILTER</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>index.do</welcome-file>
	</welcome-file-list>
	<servlet>
	<servlet-name>AdminMain</servlet-name>
	<servlet-class>Servlet.AdminMain</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>AdminMain</servlet-name>
	<url-pattern>/admin.main</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>ManagerMain</servlet-name>
	<servlet-class>Servlet.ManagerMain</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>ManagerMain</servlet-name>
	<url-pattern>/manager.main</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>UserMain</servlet-name>
	<servlet-class>Servlet.UserMain</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>UserMain</servlet-name>
	<url-pattern>/user.main</url-pattern>
	</servlet-mapping>
	<filter>
	<filter-name>PermissionFilter</filter-name>
	<filter-class>Filter.PermissionFilter</filter-class>
	</filter>
	<filter-mapping>
	<filter-name>PermissionFilter</filter-name>
	<url-pattern>/admin.main</url-pattern>
	<url-pattern>/manager.main</url-pattern>
	<url-pattern>/user.main</url-pattern>
	</filter-mapping>
</web-app>